aiapy
astropy
beautifulsoup4
cdasws
cdflib
cx_oracle
ipykernel
ipympl
jax[cpu]
jupyter
keras
lxml
mahotas
matplotlib
matplotlib-venn
numpy
openpyxl
pandas
pyarrow
plotly
psycopg
pyspedas
requests
scikit-image
scipy
seaborn
spacepy
sunpy
sympy
tensorflow
urllib3
xarray